/* ! Reset & Utils */

/* # Body  */

.wrapper {
    min-height: 100vh;
    background-color: #212529;
}

/* ! Components ! */

/* # Card Main */

.card-main {
    max-width: 25rem;
}
  
.pubblished-status {
    position: absolute;
    bottom: 1rem;
}
